aws_region         = "us-east-1"
cluster_name       = "go-webapp"
kubernetes_version = "1.35"

node_instance_types = ["t3.micro"]
node_desired_size   = 4
node_min_size       = 4
node_max_size       = 4
