aws_region = "us-east-1"

cluster_name        = "go-webapp"
kubernetes_version  = "1.34"
vpc_cidr            = "10.0.0.0/16"
availability_zone_count = 3
single_nat_gateway  = true

cluster_endpoint_public_access_cidrs = [
  "0.0.0.0/0",
]

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 4

tags = {
  Environment = "prod"
  Application = "go-webapp"
}
